<div id='logo' ng-controller="newpeople">
    <p>My matches</p><br><br>
    <img width='400px' src='https://static2.funidelia.com/39603-f4_large/mens-sexy-boy-t-shirt.jpg'></img><br>
    <p id='name'>Димитър Иванов</p>
    <button id='dislike' ng-click="dislikeUser()">Dislike</button>    
    <button id='like' ng-click="likeUser()">Like</button>
</div>
<div id="banner">
    <div id="overlay"></div>
</div>

<style>
    #dislike {
        background-color: red;
    }
    #like {
        background-color: blue;
    }
    /* #name{
        width: 100px;
        color: black;
    } */
    </style>