<div ng-controller="messages">
    <div id="matchedPeopleWrapper">
        <h1 class="classMessagesH1">Съвпадения</h1>
        <div id="matchedPeople">
            <p>Тук ще намериш всички хора, които си харесал и които са харесали теб. Може да намериш повече информация за тях, както и да си пишете. Яко, нали? :)</p>
            <div class="image-cropper responsive" ng-repeat="user in matches">
                <img class="profielThumbnailPhoto" src="{{user.profileImage}}" alt="photo">
                <div class="overlay"></div>
                <div class="moreOptions">
                    <span class="message" ng-click="chatWith(user)">&#9993;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="messagesContainer">
                <div id="chat">
                    <br>
                    <div class="card">
                        <div id="messages">
                            <p class='chat-message' ng-repeat='message in messages' ng-if='messages.length > 0'>{{message.time.toLocaleTimeString()}} {{message.name}} : {{message.message}}
                            </p>
                        </div>
                    </div>
                    <br>
                </div>
                <textarea id="textarea" placeholder="Enter message..." ng-keyup='sendMessage($event)' ng-model='newMessage'></textarea>
            </div>
            <div id="mapContainer">
                <img src="https://maps.google.com/maps/api/staticmap?center={{location[0]}},{{location[1]}}&zoom=15&size=360x480&markers=color:red|{{location[0]}},{{location[1]}}" alt="">
            </div>
        </div>
    </div>
</div>