<div ng-controller="messages">
    <div id="matchedPeopleWrapper">
        <h1>Съвпадения</h1>
        <div id="matchedPeople">
            <p>Тук ще намериш всички хора, които си харесал и които са харесали теб. Може да намериш повече информация за тях, както и да си пишете. Яко, нали? :)</p>
            <div class="image-cropper responsive" ng-repeat="user in matches">
                <img class="profielThumbnailPhoto" src="{{user.profileImage}}" alt="photo">
                <div class="overlay"></div>
                <div class="moreOptions">
                    <span class="message" ng-click="chatWith(user)">&#9993;</span>
                    <span class="info">i</span>
                </div>
            </div>
        </div>
    </div>

    <div id="ChatHistoryWrapper">
        <h1>История</h1>
        <div id="chatHistory">
            <ul>
                <li>
                    <div class="responsive image-cropper">
                        <img id="userPhoto" class="profielThumbnailPhoto" src="https://assets.entrepreneur.com/content/3x2/1300/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg" alt="photo">
                    </div>
                    <div class="messageDescription">
                        <h2>Даниела Гутева</h2>
                        <p>Здравей!</p>
                    </div>

                </li>
                <li>
                    <div class="responsive image-cropper">
                        <img id="userPhoto" class="profielThumbnailPhoto" src="https://assets.entrepreneur.com/content/3x2/1300/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg" alt="photo">
                    </div>
                    <div class="messageDescription">
                        <h2>Иванина Ботева</h2>
                        <p>Искаш ли да се видим?</p>
                    </div>
                </li>
                <li>
                    <div class="responsive image-cropper">
                        <img id="userPhoto" class="profielThumbnailPhoto" src="https://assets.entrepreneur.com/content/3x2/1300/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg" alt="photo">
                    </div>
                    <div class="messageDescription">
                        <h2>Златка Стоева</h2>
                        <p>Как си?</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="messagesContainer">
                <!-- <h1>
                    Flame chat
                    <button id="clear" ng-click='clearMessages()'>Clear</button>
                </h1> -->
                <div id="chat">
                    <br>
                    <div class="card">
                        <div id="messages">
                            <p class='chat-message' ng-repeat='message in messages' , ng-if='messages.length > 0'>{{message.time}} {{message.name}} : {{message.message}}
                            </p>
                        </div>
                    </div>
                    <!-- <div id="status" , ng-if='status'>
                        <p>{{status}}</p>
                    </div> -->
                    <br>
                </div>
                <textarea id="textarea" placeholder="Enter message..." , ng-keyup='sendMessage($event)' , ng-model='newMessage'></textarea>
            </div>
            <div id="mapContainer">
                <img src="https://maps.google.com/maps/api/staticmap?center=37.7803,-122.4167&zoom=15&size=360x480&markers=color:red|37.7833,-122.4167" alt="">
            </div>
        </div>
    </div>
</div>