<div id="userPage" ng-controller="profile">
    <div id="hoverContainer">
        <div id="userOptions">
            <h2>Профил</h2>
            <div class="image-cropper" ng-if="!signedUser.profileImage">
                <img id="userPhoto" class="profielThumbnailPhoto" src="http://freelanceme.net/Images/default%20profile%20picture.png" alt="photo">
            </div>
            <div class="image-cropper" ng-if="signedUser.profileImage">
                <img id="userPhoto" class="profielThumbnailPhoto" src="{{signedUser.profileImage}}" alt="photo">
            </div>
            <span id="changeProfile">
                +
                <input type="file" id="profileImageInput" accept=".jpg, .jpeg, .png">
            </span>


            <h3> {{signedUser.firstName + " " + signedUser.lastName}} </h3>
            <ul>
                <li>
                    <a class="active" href="#info">Информация</a>
                </li>
                <li>
                    <a href="#pref">Предпочитания</a>
                </li>
                <li ng-click="logout()">Изход</li>
            </ul>
        </div>
    </div>
    <div id="editUserContainer">
        <div class="userCard" id="info">
            <h1>Информация</h1>
            <p id="nameP">Име:
                <span>{{signedUser.firstName + " " + signedUser.lastName}}</span>
            </p>
            <label for="userEmailEdit">Имейл:
                <span>{{signedUser.email}}</span>
            </label>
            <input type="text" id="userEmailEdit" placeholder="Промени имейла ...">
            <label for="userEmailEdit">Парола:
                <span>*******</span>
            </label>
            <input type="text" id="userPassEdit" placeholder="Промени паролата ...">
            <p>Възраст:
                <span id="ageInput"><input type='text' id='inputAge' class='changeInput' value='{{signedUser.age}}'></span>
            </p>
            <p>Височина:
                <span id="heightInput"><input type='text' id='inputHeight' class='changeInput' value='{{signedUser.height}}'></span>
            </p>
            <p>Пол:
                <span id="genderInput">
                    <select id='inputGender' class='changeInput' ng-model='signedUser.gender'>
                        <option value=''></option>
                        <option value='мъж'>мъж</option>
                        <option value='жена'>жена</option>
                    </select>
                </span>
            </p>
            <p>
                <textarea id="moreInfo" placeholder="Повече информация" rows="4" cols="70">{{signedUser.moreInfo}}</textarea>
            </p>

            <button ng-click="saveChanges()">Запази Промените</button>
        </div>
        <div class="userCard" id="pref">
            <h1>Предпочитания</h1>
            <div class="check">
                <span id="targetGender">Търся: </span>
                <input type="radio" name="gender" id="genderPrefMale" class="checkbox" value="мъж">
                <label for="genderPrefMale">Мъж</label>
                <input type="radio" name="gender" id="genderPrefFemale" class="checkbox" value="жена">
                <label for="genderPrefFemale">Жена</label>
            </div>
            <div id="sliderKM">
                Максимално разстояние:
                <span id="currentval">1</span>
            </div>
            <div id="chooseKM"></div>

            <br>

            <div id="sliderAge">
                Възрастова граница :
                <span id="rangeval">20 - 30</span>
            </div>
            <div id="chooseAge"></div>
            <button ng-click="savePreferences()">Запази промените</button>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="Assets/javascript/changeProfileImage.js"></script>
<script src="Assets/javascript/userProfilSliders.js"></script>